.onCloseButton {
  position: absolute;
  display: block;
  width: auto;
  z-index: 8;
  top: 2%;
  right: 2%;
  background-color: var(--danger);
  border-radius: var(--radius);
  border: none;
  color: white;
  font-size: medium;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
}
